* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Playwrite+CL:wght@100..400&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inconsolata:wght@200..900&family=Playwrite+CL:wght@100..400&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alegreya:wght@100..800&family=Inconsolata:wght@200..900&family=Playwrite+CL:wght@100..400&family=Sedan:ital@0;1&display=swap');
:root {
    --fonte1 : 'Anek+Devanagari' ;
    --fonte2 : 'Alegreya' ;
    --fonte3 : 'Inconsolata', cursive ;
}

html, body {
    background-color: rgb(131, 130, 130);
    min-height: 100vh;

}
header {
    background-color: black;
    color: white;
    text-align: center;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 23px;
}
section > p {
    padding-bottom: 2em;
}
header > h1 {
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-size: 8vw;
    font-family: var(--fonte1);
}
header > p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
a:hover {
    color: rgb(182, 182, 219);
}
.imagem {
    background-color: rgb(94, 94, 94);
    color: white;
    font-family: var(--fonte3);
    font-size: 3vw;
    box-shadow: inset 6px 8px 8px 0px rgb(66, 65, 65);
    background-size: cover;
    background-attachment: fixed;
}
.imagem > p {
    background-color: rgba(41, 41, 41, 0.493);
    width: 400px;
   font-family: var(--fonte2);
   font-size: 3vw;
   text-shadow: 2px 3px 5px;
}
.normal {
    background-color: rgb(185, 185, 185);
    color: black;
    font-family: var(--fonte3);
    font-size: 3vw;
}

#imagem1 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#imagem2 {
    background-image: url(imagens/background002.jpg);
     background-position: right center;
}

footer {
    background-color: black;
    height: 60px;
    text-align: center;
}

footer > p {
    color: white;
    padding-top: 20px;
    font-size: 2vw;
}