/*cores a usar
#303C3A
#A69586
#594A3C
#D8D9D7
#080D09
*/

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Luxo';
    src: url(fontes/Designer.otf);
    font-weight: normal;
    font-style: normal;
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
}

 a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to top, black, #4A4E4F, #686d6e, #D8D9D7, #e8ebe6 ) ;
    background-attachment: fixed;
    max-width: 1600px;
    min-width: 270px;
}

.Título {
    display: block;
    justify-content: center;
    background-color: #4A4E4F;
    width: auto;
    height: 6em;
    align-items: center;
    padding-top: 20px;
}
.Título > a {
    font-family: "Luxo";
    color: #161718;
    font-size: 4em;
}

.Título :hover{
    color:#616668;

}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #4A4E4F;
    width: auto;
    height: 6em;
    list-style: none;
    align-items: center;
}
li > a {
    color: #74797a;
    background-color: #252627;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.menu :hover {
     background-color: #7e8286 ;
     color: #252627;
}



main {

}

#texto1 {
    background-color: #776351;
    width: auto;
    height: 54em;
    align-items: center;
    margin: 0px 30px 0px 30px;
    padding: 0px 15px 0px 15px;
}
#titulo1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #1f1915;
    padding-top: 10px;
}

#paragrafo0 {
    font-size: 2em;
    color: #2e251f;
    text-align: justify;
}

#carro2 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#carro1{
    display: flex;
}
#imagem0 {
    width: 100%;
}

#imagem1 {
    width: 80%;
    border-radius: 40px;
}

#video0 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

#video00 {
    border-radius: 40px;
    width: 80%;
}
#texto2 {
    background-color: #776351;
    width: auto;
    height: 53em;
    align-items: center;
    margin: 0px 30px 0px 30px;
    padding: 0px 15px 0px 15px;
}
#titulo2 {
    display: block;
    justify-content: center;
    font-size: 4em;
    color: #1f1915;
    padding-top: 10px;
}